.container {
  width: 100%;
  height: calc(100vh - 64px);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 64px;
}

.container main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.container main svg {
  color: #f9c300;
}

.container main h1 {
  font-size: 2.5em;
  color: var(--blue);
}

.container a {
  color: var(--blue);
  font-weight: 600;
  letter-spacing: 0.5px;
}

.container a:hover {
  color: var(--light-blue);
}

.container a:active {
  color: var(--dark-blue);
}
