:root {
  /* BLUE */
  --light-blue: #2884c7;
  --blue: #1d6fab;
  --dark-blue: #004d85;
  /* GRAY */
  --light-gray: #5f5f5f;
  --gray: #3c3c3c;
  --dark-gray: #303030;
  /* RED */
  --light-red: #db4352;
  --red: #dd293a;
  --dark-red: #de182b;
  /* ORANGE */
  --light-orange: #fd664e;
  --orange: #f64e33;
  --dark-orange: #fe3515;

  --bg-light-blue: #e2eeff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

button,
input,
select {
  border: none;
  outline: none;
  transition: 0.15s ease-in-out;
}

input {
  border: 1px solid var(--light-blue);
  border-radius: 4px;
  padding: 8px;
  font-size: 1em;
}

input:focus { 
  border-color: var(--dark-blue);
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.25);
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  transition: 0.15s ease-in-out;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #ccc;
}

::-webkit-scrollbar-thumb {
  background: var(--blue);
  border-radius: 30px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--dark-blue);
}
